{% extends "layout.html"%}


{%block content %}
          <header>
            <img src="{{ url_for('static', filename='logo.png') }}"> <!-- Add your logo image here -->
            <h1>Crop Price Prediction</h1>
        </header>

        <div class="container">
            <section class="hero">
                <h1>Smart Crops Solutions</h1>
                <p>we help farmers maximize their profit by accurately predicting crop market prices. With our commitment to 'Growing smart, selling better.</p>
                
                <a href="/login"><button class="cta-button">Get Started</button></a>
            </section>
        </div>

{%endblock%}